#header {
    height: 69px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
}
#header .header-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
    position: relative;
    justify-content: space-between;
}
#header .header-container .header-logo img {
    width: 63px;
}
#header .header-menu .header-list {
    display: flex;
    align-items: center;
    gap: 0 32px;
    animation: out ease 2s;
}
#header .header-menu .header-list .header-close-menu {
    display: none;
}
#header .header-menu .header-list .header-item .header-link {
    display: inline-block;
    font-size: 1.6rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 2px;
}
#header .header-menu .header-list .header-item .header-link:hover {
    border-bottom: 3px solid #00aeef;
}
#header .header-menu .header-list .header-item .header-link.active {
    border-bottom: 3px solid #00aeef;
}
#header .menu-mobile {
    display: none;
}
#header .menu-mobile i {
    padding: 5px;
    font-size: 2.4rem;
}

.banner {
    padding-top: 69px;
}
.banner .banner-item {
    height: 600px;
    background: url(https://s3-ap-southeast-1.amazonaws.com/modoho.production/welcome_41.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.banner .bg-over {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.banner .banner-content {
    position: absolute;
    width: 100%;
    top: 40%;
}
.banner .banner-content h3 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.info-cty {
    margin-top: 30px;
    text-align: center;
}
.info-cty p {
    font-size: 1.4rem;
    padding: 10px 0px;
}

.title-page {
    margin: 40px 0;
    font-size: 3rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    color: #00aeef;
    position: relative;
}
.title-page::after {
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
    height: 2.5px;
    width: 5%;
    content: "";
    background-color: #00aeef;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 2rem;
}

.photo-product-cty {
    text-align: center;
}

.photo-product-img {
    position: relative;
}
.photo-product-img .photo-product-img-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    animation: fadeIn ease-in 0.4s;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}
.photo-product-img .photo-product-img-overlay h3 {
    padding-top: 10px;
    font-size: 3.2rem;
    color: #fff;
}
.photo-product-img .show__slider {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    animation: fadeIn ease-in 0.4s;
}
.photo-product-img .show__slider i {
    float: right;
    color: #fff;
    font-size: 5rem;
}

.photo-product-img .show__slider .slider__content {
    height: 100vh;
}
.photo-product-img .show__slider .slider__content .slider-list {
    height: 100vh;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.photo-product-img:hover .photo-product-img-overlay {
    display: flex;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide .slider-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.swiper-slide .slider-item img {
    height: 100%;
    transition: all 0.2s ease-in;
}
.swiper-slide .slider-item img:hover {
    transform: scale(1.1);
}
.swiper-slide .slider-item .item-bg {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0;
    background: black;
    background: linear-gradient(0deg, black 20%, rgba(0, 0, 0, 0) 100%);
}
.swiper-slide .slider-item .item-bg .product-description {
    font-size: 1.4rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    margin-top: 10px;
    color: #fff;
}

.concat {
    padding-bottom: 60px;
    text-align: center;
}
.concat .bg-concat {
    height: 210px;
    background: url(https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.concat .bg-concat .over-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.concat .bg-concat .over-bg .info-concat {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}
.concat .bg-concat .over-bg .info-concat h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.concat .bg-concat .over-bg .info-concat p {
    font-size: 3rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    padding: 5px 0;
    color: #00aeef;
}
.concat .bg-concat .over-bg .info-concat h3 {
    font-size: 1.8rem;
}

.address {
    text-align: center;
    width: 100%;
}

.footer {
    margin-top: 30px;
    padding-top: 80px;
    background: url(https://modoho.com.vn/assets/images/bg-footer.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.footer .footer-list {
    padding: 50px 0;
    text-align: center;
}
.footer .footer-list p {
    font-size: 1.4rem;
}
.footer .footer-list p span {
    font-size: 1.6rem;
    font-weight: 600;
}

/* mobile max-width < 739px */
@media only screen and (max-width: 46.1875em) {
    #header .menu-mobile {
        display: block;
        font-weight: 600;
        color: #00aeef;
    }
    #header .header-menu ul {
        position: fixed;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #fff;
        transform: translateX(120%);
        display: none !important;
    }
    #header .header-menu ul .header-close-menu {
        display: block !important;
    }
    #header .header-menu ul .header-close-menu {
        width: 100%;
        display: flex;
    }
    #header .header-menu ul .header-close-menu i {
        font-size: 4rem;
    }
    #header .header-menu ul li {
        padding: 20px 0;
    }
    #header .header-menu .header-list.active {
        display: flex !important;
        animation: truot ease 1s;
        transform: translateX(0%);
    }
    @keyframes truot {
        0% {
            transform: translateX(120%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .banner .banner-item {
        height: 250px;
    }

    .photo-product-img .photo-product-img-overlay {
        display: flex;
    }
    .photo-product-img .photo-product-img-overlay h3 {
        display: block;
        margin-top: 40px;
        font-size: 2rem;
    }
}
.mySwiper .swiper-slide {
    opacity: 1 !important;
}
/* table  (min-width > 740px) and (max-width <1023px)*/
/* pc (min-width >1024px)*/

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .photo-product-img .show__slider .content-slider {
        height: 100%;
    }
}
@media only screen and (min-width: 64em) {
    .photo-product-img .show__slider .content-slider {
        height: 100%;
    }
}

/*# sourceMappingURL=style.css.map */
